.body {
   .bookingjs {
        margin: 0;
        background: rgba(0,0,0,0.95);
        @include linear-gradient-left(rgba(0,0,0,0.85), rgba(0,0,0,0.75));
        font-size: 0.15em;
        position: fixed;
        z-index: 12;

        &.show {
          @include transition(all 0.5s ease);
          @include translate(-100%, 0);
        }

        &-avatar {
            display: none;
        }

        &-displayname {
            font-size: 2em;
            @include font-sans();
            margin: 1.2em;
            padding: 0;
            color: rgba(255,255,255,0.7);

            &:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background: $main-attic;
                vertical-align: middle;
                margin-right: 0.25em;
            }
        }
    }

    .fc {
        table {
            border-collapse: separate;
        }

        .fc-view-container {
            margin: 1.5em 2.4em;
            background: none;
        }

        .fc-view {
            margin: 0 -0.5em;
        }

        .fc-toolbar {
            border-bottom: none;
            margin: 2em 2.4em 0;

            > * > button {
                margin: 0;
                font-size: 1em;
                padding: 0.8em !important;
                margin-left: 0.5em;
                opacity:0.1;
                color: $black;
                @include transition(all 0.3s linear);

                &:focus {
                    background-color: $white;
                    opacity: 0.1;
                }

                &:hover {
                    background: $main-attic;
                    opacity: 1;
                }

                &.fc-state-disabled {
                    z-index: -1;
                }

                .fc-icon {
                    top: 0;
                }
            }
        }

        .fc-axis, .fc-bg {
            display: none;
        }

        .fc-time-grid .fc-slats {
            margin-top: 0.5em;
        }

        .fc-row.fc-widget-header .fc-day-header {
            background: rgba(255,255,255,0.3);
            border: 0.5em solid rgba(0,0,0,0.95);;
            padding: 0.75em;
            font-size: 1em;
            text-transform: none;
        }

        .fc-ltr .fc-time-grid .fc-event-container {
            margin: 0;
        }

        .fc-event {
            background: rgba(255,255,255,0.7);
            border-left: 0.75em solid $main-attic;
            text-align: center;
            margin: 0 0.6em 0.8em;
            @include transition(all 3s ease);
            font-size: 0.75em;

            &:hover {
                background: $main-attic;
                @include transition(all 0.5s ease);
            }
        }

        .fc-time-grid-event .fc-time {
            padding: 1.5em;
            @include font-sans();
        }
    }

    .fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody,
    .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead, .fc-content-skeleton, .fc-time-grid .fc-slats td {
        border-color: transparent;
    }

}
