//colors
$black: #000000;
$white: #ffffff;
$main-red: #BC2825;
$main-pirates: #e8af06;
$main-attic: #1953b7;
$main-garden: #007c06;
$white-transparent: rgba(255,255,255,0.8);

@mixin red-transparent-bgr($opacity) {
    background-color: rgba(188,40,37,$opacity);
}

@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin scale($scale) {
	 @include transform(scale($scale));
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin blur($blur) {
    -webkit-filter: blur(#{$blur}px);
    -moz-filter: blur(#{$blur}px);
    -o-filter: blur(#{$blur}px);
    -ms-filter: blur(#{$blur}px);
    filter: blur(#{$blur}px);
}

@mixin font-sans() {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

@mixin radial-gradient($from, $to) {
  	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
  	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
  	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
  	background-color: $from;
}


@mixin linear-gradient-left($start-colour, $end-colour) {
    background-color: $start-colour;
    background-image: -webkit-gradient(linear, left top, right top, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(left, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(left, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(left, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(left, $start-colour, $end-colour);
    background-image:         linear-gradient(left, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}


@mixin room-customization($color, $bgr, $gradient1, $gradient2) {
    .room-section-background:after {
        background: url($bgr);
        background-size: cover;
    }

    .room-section-header {
        &-span {
            color: $color;
        }
    }

    .red-strong {
        color: $color;
    }

    .button {
        background: $color;
    }

    .room-circle-icon {
        @include linear-gradient-left($gradient1, $gradient2);
    }
}
