@import 'bower_components/reset-css/_reset';
@import 'elements';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


html {
    height: 100%;
    background: url('../images/blur.jpg') center center no-repeat;
    background-size:  cover;
    background-attachment: fixed;
}

.body {
    //@include linear-gradient-left(rgba(0,0,0,0.65), rgba(0,0,0,0.45));
    font-size: 0;
    min-height: 100%;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: 100;
}


.hints {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    font-size: 10vw;
    vertical-align: top;
    position: relative;
    height: 100vh;
    padding-top: 140px;
    border-right: 3px solid rgba(255,255,255,0.3);
    -webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
    filter: grayscale(70%);
    @include transition(all 0.3s linear);

    &.running {
        -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
        filter: grayscale(0%);
    }

    &-header {
        height: 100px;
        background: rgba(0,0,0,0.8);
        border-bottom: 1px solid $admin-header-border;
        color: rgba(255,255,255,0.7);
        position: absolute;
        text-transform: uppercase;
        font-size: 40px;
        width: 100%;
        top: 0;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 220px;
            height: 99px;
            background: rgba(0,0,0,0.8);
            z-index: 11;
            @include transition(all 0.3s linear);

            .running & {
                right: 100%;
            }
        }

        &-right {
            position: absolute;
            width: 220px;
            top: 0;
            right: 0;
            font-size: 0;
        }
        &-left {
            padding-right: 220px;
            width: 100%;
        }
        &-button {
            line-height: 100px;
            display: inline-block;
            font-size: 40px;
            padding: 0 30px;
            border-left: 1px solid $admin-header-border;
            color: rgba(255,255,255,0.1);
            cursor: pointer;
            @include transition(all 0.3s linear);

            &:hover {
                color: rgba(255,255,255,0.7);
            }

            &.on {
                color: $main-attic;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &-timer {
            display: inline-block;
            color: rgba(255,255,255,0.1);
            font-size: 35px;
            text-align: center;
            width: 124px;
            line-height: 100px;

            .running & {
                color: rgba(255,255,255,0.8);
            }
        }

        &-levels {
            display: inline-block;
            font-size: 0;
            vertical-align: top;

            &-label, &-item  {
                display: inline-block;
                font-size: 12px;
                padding: 0 20px 0 12px;
                color: rgba(255,255,255,0.5);
                line-height: 40px;
                border-right: 1px solid $admin-header-border;
                vertical-align: top;
            }

            &-item {
                font-size: 16px;
                padding: 0 20px;
                cursor: pointer;
                @include transition(all 0.3s linear);

                &:hover {
                    background: rgba(255,255,255,0.1);
                    color: $white;
                }

                &.active {
                    background: $main-attic;
                    color: $white;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        &-menu {
            font-size: 0px;
            font-weight: 100;
            text-transform: none;
            display: inline-block;
            float: right;

            &-item {
                border-left: 1px solid $admin-header-border;
                padding: 0 20px;
                line-height: 40px;
                font-size: 16px;
                display: inline-block;
                cursor: pointer;
                @include transition(all 0.3s linear);
                color: rgba(255,255,255,0.5);

                &.language-switch {
                    color: $main-attic;
                }

                &:hover {
                    background: rgba(255,255,255,0.15);
                    color: $white;
                }

                &:last-child {
                    border-right: 1px solid $admin-header-border;
                }
            }
        }

        &-clear {
            position: absolute;
            top: 8px;
            right: 120px;
            line-height: 37px;
            padding: 0 15px;
            z-index: 11;
            opacity: 0.4;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
        }

        &-adhoc {
            border-top: 1px solid $admin-header-border;
            border-right: 1px solid $admin-header-border;
            padding: 9px 120px 9px 10px;
            position: relative;
            font-size: 20px;

            &.active {
                background-color: rgba(25,83,183,0.5);
            }

            &-text {
                border: 1px solid rgba(255,255,255,0.3);
                background: rgba(255,255,255,0.1);
                height: 37px;
                padding: 8px;
                @include box-sizing;
                font-weight: 100;
                outline: none;
                width: 100%;
                color: rgba(255,255,255,0.7);
                font-size: 16px;

                &:focus {
                    color: rgba(255,255,255,0.8);
                    border: 1px solid rgba(255,255,255,0.8);
                    background: rgba(255,255,255,0.15);
                }
            }

            &-button {
                line-height: 37px;
                position: absolute;
                font-size: 16px;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                right: 10px;
                top:9px;
                width: 100px;
                color: $black;
                background: rgba(255,255,255,0.5);
                @include transition(all 0.3s linear);

                &:hover {
                    background: rgba(255,255,255,0.8);
                }

                &:before {
                    content: "Set";
                }
            }
        }
    }

    &-list {
        color: $white;
        position: absolute;
        width: 100%;
        bottom: 10px;
        top: 110px;
        overflow: auto;
        font-size: 20px;

        &-item {
            @include linear-gradient-left(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
            padding: 20px;
            margin: 10px 0.2% 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            vertical-align: middle;
            min-height: 120px;
            width: 24.6%;
            height: 300px;
            display: inline-block;
            position: relative;
            border: none;
            overflow: hidden;
            text-align: center;
            border: 1px solid transparent;
            cursor: pointer;

            &.active {
                background: rgba(25,83,183,0.7);
                border: 1px solid rgba(255,255,255,0.7)
            }

            &-title {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 10px;
                color: rgba(255,255,255,0.8);
            }

            &-text {
                padding-top: 10px;
                font-size: 15px;
                line-height: 24px;
                color: rgba(255,255,255,0.7);
            }

            &-image {
                width: 100%;
            }
        }
    }

    &.attic {
        @include linear-gradient-left(rgba(25,83,183,0.2), rgba(25,83,183,0.6));
    }
}
