@import 'bower_components/reset-css/_reset';
@import 'elements';

@mixin active-button(){
    position: absolute;
    top: 10px;
    font-size: 13px;
    right: 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
    padding: 17px 12px;
    cursor:pointer;
    @include linear-gradient-left(rgba(25,83,183,0.7), rgba(25,83,183,0.9));

    &:hover {
          @include linear-gradient-left(rgba(25,83,183,0.4), rgba(25,83,183,0.8));
          color:rgba(255,255,255,0.8);
    }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


html {
    height: 100%;
    background: url('../images/blur.jpg') center center no-repeat;
    background-size:  cover;
    background-attachment: fixed;
}

.body {
    //@include linear-gradient-left(rgba(0,0,0,0.65), rgba(0,0,0,0.45));
    font-size: 0;
    min-height: 100%;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: 100;
}


.hints {
    display: inline-block;
    width: 100%;
    min-height:100%;
    font-size: 10vw;
    vertical-align: top;
    position: relative;
    height: 100vh;
    padding-top: 140px;
    border-right: 3px solid rgba(255,255,255,0.3);
    -webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
    filter: grayscale(70%);
    @include transition(all 0.3s linear);

    &.running {
        -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
        filter: grayscale(0%);
    }

    &-header {
        height: 130px;
        background:rgba(0,0,0,0.8);
        border-bottom: 1px solid rgba(255,255,255,0.7);
        position:absolute;
        width:100%;
        top: 0;

        &-title {
            color: rgba(255,255,255,0.7);
            padding: 10px;
            text-transform: uppercase;
            font-size: 40px;
            border-bottom: 1px solid rgba(255,255,255,0.3);
        }

        &-timer {
            display:inline-block;
            color: rgba(25,83,183,0.5);
        }

        &-levels {
            display: inline-block;
            font-size: 14px;
            margin: 0 10px;
            vertical-align: top;

            &-item {
                border: 1px solid rgba(255,255,255,0.3);
                padding: 12px;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    background: rgba(255,255,255,0.1);
                }

                &.active {
                    background: rgba(255,255,255,0.15);
                    border: 1px solid rgba(255,255,255,0.8);
                }
            }
        }

        &-menu {
            font-size: 0px;
            font-weight: 100;
            text-transform: none;
            display: inline-block;
            float: right;
            margin: -10px 20px;

            &-item {
                border-left: 1px solid rgba(255,255,255,0.3);
                padding: 24px;
                font-size: 12px;
                display: inline-block;
                cursor: pointer;
                @include transition(all 0.3s linear);

                &:hover {
                    background: rgba(255,255,255,0.15)
                }

                &:last-child {
                    border-right: 1px solid rgba(255,255,255,0.3);
                }
            }
        }

        &-switch {
            display: inline-block;
            float: right;
            padding: 11px 16px 9px;
            border: 1px solid rgba(255,255,255,0.7);
            font-size: 16px;
            width: 82px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            @include transition(all 0.2s linear);

            &:hover {
                background-color: rgba(255,255,255,1);
                color: $black;
            }

            &:before {
                display: inline-block;
                content: "start";
                width: 100%;
                margin-left: 0;
                @include transition(all 0.3s linear);
            }

            &:after {
                display: inline-block;
                position: absolute;
                content: "stop";
                left: 100%;
                top: 0;
                padding: 11px 0;
                text-align: center;
                width: 100%;
                @include transition(all 0.3s linear);
            }

            &.on:before  {
                margin-left: -94px;
            }

            &.on:after {
                left: 0;
            }
        }
        &-adhoc {
            padding: 10px 120px 10px 10px;
            position: relative;
            font-size: 20px;
            &.active {
                @include linear-gradient-left(rgba(255,255,255,0.05), rgba(255,255,255,0.1));
            }

            &-text {
                border: 1px solid rgba(255,255,255,0.3);
                background: rgba(255,255,255,0.1);
                height: 47px;
                padding: 10px;
                @include box-sizing;
                font-weight: 100;
                outline: none;
                width:100%;
                color: rgba(255,255,255,0.7);
                font-size: 16px;

                &:focus {
                    color: rgba(255,255,255,0.8);
                    border: 1px solid rgba(255,255,255,0.8);
                    background: rgba(255,255,255,0.15);
                }
            }

            &-button {
                @include active-button();

                &:before {
                    content: "Set";
                }

                &:after {
                    content: "Change";
                    display: none;
                }

                .active & {
                    @include linear-gradient-left(rgba(25,83,183,0.4), rgba(25,83,183,0.8));

                    &:hover {
                          @include linear-gradient-left(rgba(25,83,183,0.6), rgba(25,83,183,1));
                          color:rgba(255,255,255,0.8);
                    }

                    &:before {
                        display: none;
                    }

                    &:after {
                        display: inline;
                    }
                }
            }
        }
    }

    &-list {
        color: $white;
        position: absolute;
        width: 100%;
        bottom: 10px;
        top: 130px;
        overflow:auto;
        font-size: 20px;

        &-item {
            @include linear-gradient-left(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
            padding: 20px;
            margin: 10px 0.2% 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            vertical-align: middle;
            min-height: 120px;
            width: 24.6%;
            height: 300px;
            display: inline-block;
            position: relative;
            border: none;
            overflow: hidden;
            text-align: center;
            border: 1px solid transparent;

            &.active {
                @include linear-gradient-left(rgba(0,0,0,0.05), rgba(0,0,0,0.33));
                border: 1px solid rgba(255,255,255,0.7)
            }

            &-title {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 10px;
                color: rgba(255,255,255,0.8);
            }

            &-text {
                font-size: 14px;
                color: rgba(255,255,255,0.7);
            }

            &-image {
                width:100%;
            }
        }
    }

    &.attic {
        @include linear-gradient-left(rgba(25,83,183,0.2), rgba(25,83,183,0.6));
    }

    &.pirates {
        @include linear-gradient-left(rgba(232,175,6,0.2), rgba(232,175,6,0.6));

        .hints-header {
            &-timer {
                color: rgba(232,175,6,0.5);
            }

            &-adhoc-button {
                @include linear-gradient-left(rgba(232,175,6,0.2), rgba(232,175,6,0.6));
                &:hover {
                      @include linear-gradient-left(rgba(232,175,6,0.4), rgba(232,175,6,0.8));
                }
            }
        }

        .hints-list-item-button {
            @include linear-gradient-left(rgba(232,175,6,0.2), rgba(232,175,6,0.6));
            &:hover {
                  @include linear-gradient-left(rgba(232,175,6,0.4), rgba(232,175,6,0.8));
            }
        }
    }

    &.garden {
        width: 33.34%;
        @include linear-gradient-left(rgba(0,124,6,0.2), rgba(0,124,6,0.6));

        .hints-header {
            &-timer {
                color: rgba(0,124,6,0.5);
            }

            &-adhoc-button {
                @include linear-gradient-left(rgba(0,124,6,0.2), rgba(0,124,6,0.6));
                &:hover {
                      @include linear-gradient-left(rgba(0,124,6,0.4), rgba(0,124,6,0.8));
                }
            }
        }

        .hints-list-item-button {
            @include linear-gradient-left(rgba(0,124,6,0.2), rgba(0,124,6,0.6));
            &:hover {
                  @include linear-gradient-left(rgba(0,124,6,0.4), rgba(0,124,6,0.8));
            }
        }
    }
}
