@import 'bower_components/reset-css/_reset';

@import 'elements';
@import 'globals';


.body {
    font-size: 100px;
    overflow-x:hidden;
}

//FIXED NAVS
.fixed-navs {
    color: $white;
    opacity: 0;
    @include transition(all 0.5s ease);

    &.visible {
        opacity: 1;
    }

    &.dark {
        color: $black;

        .with-splash & {
            color: $white;
        }
    }

    &-item {
        position: fixed;
        font-size: 0.2em;
        top: 4%;
        z-index: 11;

        &.book-now {
            left: 3%;
            text-transform: uppercase;
            cursor: pointer;
            opacity: 0.2;
            font-size: 0.2em;
            font-weight: normal;
            @include transition(opacity 0.2s  ease);

            .book-now-icon {
                vertical-align: middle;
                font-size: 0.8em;
                display: inline-block;
                border: 0.15em solid $white;
                padding: 0.4em;
                @include rounded(50%);

                .dark & {
                    border-color: $black;
                }
            }

            &:hover {
                opacity: 0.6;
            }
        }

        &.toggle-menu {
            right: 3%;
            display: inline-block;
            width: 1.8em;
            padding: 0.6em 0;
            height: 1.4em;
            z-index: 15;
            opacity:0.3;
            cursor: pointer;
            @include transition(opacity 0.5s  ease);

            &:hover {
                opacity: 0.6;
            }

            .toggle-menu-line {
                background: $white;
                height: 0.2em;
                width: 1.8em;
                display: block;
                @include transition(all 0.5s  ease);

                &:before, &:after {
                    content: "";
                    position: absolute;
                    background: $white;
                    height: 0.2em;
                    width: 1.8em;
                    top: 0;
                    display: block;
                    @include transition(all 0.5s ease);
                }

                &:after {
                    top: auto;
                    bottom: 0;
                }

                .dark & {
                    background: $black;

                    &:before, &:after {
                        background: $black;
                    }

                }
            }

            &.active {
                .toggle-menu-line {
                    background: rgba(255,255,255,0);

                    &:before, &:after {
                        background: $white;
                    }

                    &:before {
                        @include transform(rotate(45deg) translate(0.52em, 0.3em));
                    }
                    &:after {
                        @include transform(rotate(-45deg) translate(0.52em, -0.3em));
                    }
                }
            }
        }

        &.scroll-nav {
            top: auto;
            bottom: 5%;
            right: 3%;
            @include transition(opacity 0.2s linear);

            .scroll-nav-item {
                display: block;
                cursor: pointer;
                opacity: 0.3;
                font-size: 1.5em;
                @include transition(opacity 0.2s linear);

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

//SPASH

.splash {
    @include transition(all 0.5s ease);
    @include translate(100%, 0)
    position: fixed;
    opacity: 1;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include linear-gradient-left(rgba(0,0,0,0.85), rgba(0,0,0,0.75));
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    //background: rgba(0,0,0,0.95);
    color: $white;

    .with-splash & {
        opacity: 1;
        @include translate(0, 0);
    }

    &-menu {
        padding-top: 0.8em;
        text-transform: uppercase;

        &-item {
            cursor:pointer;
            font-size: 0.2em;
            display: block;
            padding: 1em;
            opacity: 0.7;
            @include transition(all 0.4s ease);

            &:hover {
                opacity: 1;
                @include scale(1.4);
            }
        }

        &-book {
            font-size: 0.25em;
            cursor: pointer;
            opacity: 0.9;
            @include linear-gradient-left(rgba(180,40,37,0.55), rgba(180,40,37,1));
            @include transition(all 0.4s ease);

            &:hover {
                opacity: 1;
            }
        }
    }
}

//HEADER

.header {
    padding-top: 0.7em;
    overflow: visible;

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 120vh;
        width: 100%;
        z-index: -1;
        background: url('../images/woodBgr.jpg');
        background-size: cover;
        overflow: hidden;

        &:before, &:after {
            content: "";
            position: absolute;
            width: 70%;
            height: 40vh;
            right: 50%;
            bottom: -25.7vh;
            @include rotate(11);
            background: $white;
        }

        &:after {
            right: auto;
            left: 50%;
            @include rotate(-11)
        }
    }

    &-circle-icon {
        &:before {
            width: 100%;
            height: 50%;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            @include linear-gradient-left(rgba(0,0,0,0), rgba(0,0,0,0.3));
        }

        &.icon-1 {
            @include rotate(-50);

            .fa {
                @include rotate(50);
            }
        }

        &.icon-2 {
            @include rotate(230);

            .fa {
                @include rotate(-230);
            }
        }

        &.icon-3 {
            @include rotate(50);

            .fa {
                @include rotate(-50);
            }
        }
    }
}

.logo {
    text-indent: 2000px;
    background: url('../images/logo.png') center center no-repeat;
    background-size: 100%;
    opacity: 0.9;
    white-space: nowrap;
    overflow: hidden;
    width: 2.6em;
    height: 1.15em;
    margin: 0 auto 0.7em
}

.subtitle {
    font-size: 0.17em;
    line-height: 1.5em;
    font-style: italic;
    color: $white;
    opacity: 0.9;
    text-shadow: 0 0 1em $black;
    margin-bottom: 5em;
}

//ROOMS

.section-rooms {
    margin-top: 10vw;
    padding-top: 0.1em;
}

.outer-rooms-columns {
    margin: 0.7em 0;
}

.rooms-columns {
    margin: 0 auto;
}

.rooms-column {
    cursor: pointer;
    position: relative;
    overflow: visible;

    &:after {
      content: "";
      background: $white;
      width: 6%;
      position: absolute;
      top:0;
      left: 95.5%;
      height: 120%;
      z-index: 10;
      @include skew(-5, 0);
    }

    &:last-child:after {
        content: none;
    }

    &-image {
        background: #333;
        position: relative;
        width: 100%;
        height: 2em;
        @include transition(all 0.5s ease);
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 0;
            @include transition(opacity 0.5s ease);
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .rooms-column-image-label {
                @include scale(1.2);
                margin-left: 4.5%;
            }
        }

        &.pirates {
            background: url('../images/menu-pirates.jpg') no-repeat;
            background-size: 100%;

            &:before {
                background: url('../images/menu-pirates-hover.png') no-repeat;
                background-size: 100%;
            }
        }

        &.attic {
            background: url('../images/menu-attic.jpg') no-repeat;
            background-size: 100%;

            &:before {
                background: url('../images/menu-attic-hover.png') no-repeat;
                background-size: 100%;
            }
        }

        &.garden {
            background: url('../images/menu-garden.jpg') no-repeat;
            background-size: 100%;

            &:before {
                background: url('../images/menu-garden-hover.png') no-repeat;
                background-size: 100%;
            }
        }

        &-label {
            @include transition(all 0.5s ease);
            background: $main-red;
            font-size: 0.12em;;
            padding: 0.5em 2em;
            opacity:0.7;
            color: $white;
            text-align: center;
            font-style: italic;
            position: absolute;
            bottom: 20%;
            overflow-x: visible;
            &:after {
                content: "";
                right: -5%;
                top: 0;
                background: $main-red;
                position: absolute;
                display: block;
                height: 100%;
                width: 1em;
                @include skew(-15, 0);
            }
        }
    }
}

//SINGLE ROOM

.outer-room-columns {
    margin: 0.5em 0;
}

.room-columns {
    padding: 0;
}

.room-column {
    text-align: left;
}

.room-circle-icon {
    font-size: 0.4em;
    line-height: 3.2em;
    width: 3.2em;
    height: 3.2em;
    text-align: center;
}

.room-circle-label {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5em;
}

.room-paragraph {
    font-size: 0.25em;
}

//PIRATES

.room-section-pirates {
    .room-section-background:after {
        background: url('../images/pirates-bgr.jpg');
        background-size: cover;
    }

    .room-section-header {
        &-span {
            color: $main-pirates;
        }
    }

    .red-strong {
        color: $main-pirates;
    }

    .button {
        background: $main-pirates;
    }

    .room-circle-icon {
        @include linear-gradient-left(rgba(232,175,6,0.2), rgba(232,175,6,0.6));
    }
}

//ATTIC

.room-section-attic {
    .room-section-background:after {
        background: url('../images/attic-bgr.jpg');
        background-size: cover;
    }
}

//GARDEN

.room-section-garden {
  .room-section-background:after {
      background: url('../images/garden-bgr.jpg');
      background-size: cover;
  }
}

// US

.paragraph-us {
    margin-top: 3em
}

.outer-us-columns {
    margin: 0.7em 0 0.3em ;
}
