@import 'bower_components/reset-css/_reset';

@import 'fonts';
@import 'elements';
@import 'globals';

.body {
    font-size: 100px;
}

//FIXED NAVS
.fixed-navs {
    color: $white;
    opacity: 0;
    @include transition(all 0.5s  ease);

    &.visible {
        opacity: 1;
    }

    &.dark {
        color: $black;
    }

    &-item {
        position: fixed;
        font-size: 0.2em;
        top: 5%;
        z-index: 11;

        &.book-now {
            left: 3%;
            text-transform: uppercase;
            cursor: pointer;
            opacity: 0.2;
            font-size: 0.3em;
            @include transition(all 0.2s  ease);

            &:hover {
                opacity: 1;
            }
        }

        &.toggle-menu {
            right: 3%;
            display: inline-block;
            width: 1.6em;
            padding: 0.5em 0;
            height: 1.2em;
            z-index: 15;
            opacity:0.3;
            cursor: pointer;
            @include transition(all 0.5s  ease);

            &:hover {
                opacity: 1;
            }

            .toggle-menu-line {
                background: $white;
                height: 0.2em;
                width: 1.6em;
                display: block;
                @include transition(all 0.5s  ease);

                &:before, &:after {
                    content: "";
                    position: absolute;
                    background: $white;
                    height: 0.2em;
                    width: 1.6em;
                    top: 0;
                    display: block;
                    @include transition(all 0.5s ease);
                }

                &:after {
                    top: auto;
                    bottom: 0;
                }

                .dark & {
                    background: $black;

                    &:before, &:after {
                        background: $black;
                    }

                }
            }

            &.active {
                .toggle-menu-line {
                    background: rgba(255,255,255,0);

                    &:before {
                        @include transform(rotate(45deg) translate(0.5em, 0.2em));
                    }
                    &:after {
                        @include transform(rotate(-45deg) translate(0.5em, -0.20em));
                    }
                }
            }
        }

        &.scroll-nav {
            top: auto;
            bottom: 5%;
            right: 3%;
            opacity: 0.2;
            @include transition(all 0.2s linear);

            .scroll-nav-item {
                display: block;
                cursor: pointer;
            }
        }
    }
}

//SPASH

.splash {
    @include transition(all 0.5s ease);
    @include translate(100%, 0)
    position: fixed;
    opacity: 0;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    color: $white;

    .with-splash & {
        opacity: 1;
        @include translate(0, 0)
    }

    &-menu {
        padding-top: 0.8em;

        &-item {
            cursor:pointer;
            font-size: 0.2em;
            display: block;
            padding: 1em;
        }
    }
}

//HEADER

.header {
    padding-top: 0.7em;
    overflow: visible;

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 120vh;
        width: 100%;
        z-index: -1;
        background: #333;
        overflow: hidden;

        &:before, &:after {
            content: "";
            position: absolute;
            width: 70%;
            height: 40vh;
            right: 50%;
            bottom: -25.7vh;
            @include rotate(11);
            background: $white;
        }

        &:after {
          right: auto;
          left: 50%;
          @include rotate(-11)
        }
    }
}

.logo {
    text-indent: 2000px;
    white-space: nowrap;
    overflow: hidden;
    width: 2.5em;
    height: 1.25em;
    background: red;
    margin: 0 auto 0.7em
}

.subtitle {
    font-size: 0.17em;
    line-height: 1.5em;
    font-style: italic;
    color: $white;
    opacity: 0.7;
    margin-bottom: 5em;
}

//ROOMS

.section-rooms {
    margin-top: 10vw;
    padding-top: 0.1em;
}

.outer-rooms-columns {
    margin: 0.7em 0;
}

.rooms-columns {
    margin: 0 auto;
}

.rooms-column {
    cursor: pointer;
    position: relative;
    overflow: visible;

    &:after {
      content: "";
      background: $white;
      width: 6%;
      position: absolute;
      top:0;
      left: 95.5%;
      height: 120%;
      z-index: 10;
      @include skew(-5, 0);
    }

    &:last-child:after {
        content: none;
    }

    &-image {
        background: #333;
        width: 100%;
        height: 2em;
    }

    &-label {
        background: $main-red;
        font-size: 0.12em;;
        padding: 0.5em 2em;
        opacity:0.7;
        color: $white;
        text-align: center;
        font-style: italic;
        position: absolute;
        bottom: 20%;
        overflow-x: visible;
        &:after {
            content: "";
          	right: -5%;
            top: 0;
            background: $main-red;
            position: absolute;
            display: block;
            height: 100%;
            width: 1em;
            @include skew(-15, 0);
        }
    }
}

//SINGLE ROOM

.outer-room-columns {
    margin: 0.5em 0;
}

.room-columns {
    padding: 0;
}

.room-column {
    text-align: left;
}

.room-circle-icon {
    font-size: 0.5em;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
}

.room-circle-label {
    display: inline-block;
    margin-top: 0.6em;
    vertical-align: middle;
}

.room-paragraph {
    font-size: 0.25em;
}

//PIRATES

.room-section-pirates {
    background: #555;
}

//ATTIC

.room-section-attic {
    background: #222;
}

//GARDEN

.room-section-garden {
    background: #999;
}

// US

.paragraph-us {
    margin-top: 3em
}

.outer-us-columns {
    margin: 0.7em 0 0.3em ;
}
